:root {
  font-size: 16px;
  --primary-button-bg-color: black;
  --primary-button-fg-color: rgb(255, 255, 255);
  --card-width: 300px;
}

.carousel {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 10px;
  height: 510px;
  overflow-x: scroll;
  width: calc(4 * var(--card-width));
  box-sizing: border-box;
}

.carousel .card {
  position: relative;
  flex: 250px;
  background: white;
  margin: 0.5rem;
  padding: 1rem;
  width: var(--card-width);
  font-size: x-small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1;
  border: 1px solid var(--primary-button-bg-color);
  border-radius: 2px;
  box-sizing: border-box;
}

.carousel .card img {
  width: 15rem;
}

.carousel .card .image-wrap {
  text-align: center;
}

.carousel .card .quick-add {
  position: absolute;
  display: flex;
  padding-left: 0.25rem;
  bottom: 8.5rem;
  width: 85%;
  justify-content: center;
  z-index: 2;
}

.carousel .card .select-size {
  width: 30%;
  min-height: 25px;
}

.carousel .select-btn {
  border: 3px;
  outline: 1px inset black;
  outline-offset: -1px;
  align-items: center;
  font-size: 13px;
  height: 30px;
  letter-spacing: normal;
  line-height: normal;
  overflow-wrap: normal;
  cursor: pointer;
}

.carousel .add-btn {
  height: 30px;
  cursor: pointer;
  letter-spacing: 0.4px;

  color: white;
}

.carousel .quickview-btn {
  cursor: pointer;
  letter-spacing: 0.4px;

  color: white;
}

.button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  letter-spacing: 0.4px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.button.primary {
  border: var(--primary-button-bg-color);
  background-color: var(--primary-button-bg-color);
  opacity: 75%;
  color: var(--primary-button-fg-color);
}

.carousel .items {
  flex: 1;
  width: calc(3 * var(--card-width));
  box-sizing: border-box;
  z-index: 1;
}

.carousel .items .slider {
  position: absolute;
  display: flex;
  width: 100%;
}

.carousel .arrow {
  position: relative;
  font-size: 4rem;
  top: 40%;
  z-index: 2;
}

.carousel .arrow.left {
  left: 2rem;
  cursor: pointer;
}


.carousel .arrow.right {
  right: 2rem;
  cursor: pointer;
}

.carousel .item-description{
  position: relative;
  
}

ul.navbar {
  /* list-style-type: none; */
  display: inline-block;
  margin: 0;
  padding: 20px;
  width: 100%;
  background: black;
}

ul.navbar li{
  display: inline-block;
  margin-right: 20px;
}

ul.navbar li a {
  color: white;
}