.flex-container {
  background: black;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background: white;
  margin: 0.5em;
  padding: 30px;
  width: 20%;
  font-size: x-small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
  width: 10rem;
}

.imagewrap {
  display: inline-block;
  position: relative;
}

.quickadd{
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
  padding: 12px;
}

.selectsize{
  float:left;
  width: 50%;
  min-height: 25px;
  cursor: pointer;
}

.addtocart{
  float: left;
  width: 50%;
  min-height: 25px;
  border:0;
}

.add-btn{
  cursor: pointer;
  letter-spacing: .4px;
  background-color: black;
  color: white;
}

.quickview-btn{
  cursor: pointer;
  letter-spacing: .4px;
  background-color: black;
  color: white;
}